WindowsFormsApplicationTema2/WindowsFormsApplicationTema2/Service References/ServiceReference1/WebServiceTema2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modificare">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="trofeu" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cod" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modificareResponse">
        <s:complexType />
      </s:element>
      <s:element name="adaugare">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nume_echipa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stadion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="trofeu" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="code" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="adaugareResponse">
        <s:complexType />
      </s:element>
      <s:element name="stergere">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cod" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="stergereResponse">
        <s:complexType />
      </s:element>
      <s:element name="modificare_jucatori">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="position" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cod" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modificare_jucatoriResponse">
        <s:complexType />
      </s:element>
      <s:element name="adaugare_jucatori">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="numeJucator" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="position" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cod" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="adaugare_jucatoriResponse">
        <s:complexType />
      </s:element>
      <s:element name="stergere_jucatori">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="stergere_jucatoriResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="modificareSoapIn">
    <wsdl:part name="parameters" element="tns:modificare" />
  </wsdl:message>
  <wsdl:message name="modificareSoapOut">
    <wsdl:part name="parameters" element="tns:modificareResponse" />
  </wsdl:message>
  <wsdl:message name="adaugareSoapIn">
    <wsdl:part name="parameters" element="tns:adaugare" />
  </wsdl:message>
  <wsdl:message name="adaugareSoapOut">
    <wsdl:part name="parameters" element="tns:adaugareResponse" />
  </wsdl:message>
  <wsdl:message name="stergereSoapIn">
    <wsdl:part name="parameters" element="tns:stergere" />
  </wsdl:message>
  <wsdl:message name="stergereSoapOut">
    <wsdl:part name="parameters" element="tns:stergereResponse" />
  </wsdl:message>
  <wsdl:message name="modificare_jucatoriSoapIn">
    <wsdl:part name="parameters" element="tns:modificare_jucatori" />
  </wsdl:message>
  <wsdl:message name="modificare_jucatoriSoapOut">
    <wsdl:part name="parameters" element="tns:modificare_jucatoriResponse" />
  </wsdl:message>
  <wsdl:message name="adaugare_jucatoriSoapIn">
    <wsdl:part name="parameters" element="tns:adaugare_jucatori" />
  </wsdl:message>
  <wsdl:message name="adaugare_jucatoriSoapOut">
    <wsdl:part name="parameters" element="tns:adaugare_jucatoriResponse" />
  </wsdl:message>
  <wsdl:message name="stergere_jucatoriSoapIn">
    <wsdl:part name="parameters" element="tns:stergere_jucatori" />
  </wsdl:message>
  <wsdl:message name="stergere_jucatoriSoapOut">
    <wsdl:part name="parameters" element="tns:stergere_jucatoriResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceTema2Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="modificare">
      <wsdl:input message="tns:modificareSoapIn" />
      <wsdl:output message="tns:modificareSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="adaugare">
      <wsdl:input message="tns:adaugareSoapIn" />
      <wsdl:output message="tns:adaugareSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="stergere">
      <wsdl:input message="tns:stergereSoapIn" />
      <wsdl:output message="tns:stergereSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="modificare_jucatori">
      <wsdl:input message="tns:modificare_jucatoriSoapIn" />
      <wsdl:output message="tns:modificare_jucatoriSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="adaugare_jucatori">
      <wsdl:input message="tns:adaugare_jucatoriSoapIn" />
      <wsdl:output message="tns:adaugare_jucatoriSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="stergere_jucatori">
      <wsdl:input message="tns:stergere_jucatoriSoapIn" />
      <wsdl:output message="tns:stergere_jucatoriSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceTema2Soap" type="tns:WebServiceTema2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificare">
      <soap:operation soapAction="http://tempuri.org/modificare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="adaugare">
      <soap:operation soapAction="http://tempuri.org/adaugare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stergere">
      <soap:operation soapAction="http://tempuri.org/stergere" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificare_jucatori">
      <soap:operation soapAction="http://tempuri.org/modificare_jucatori" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="adaugare_jucatori">
      <soap:operation soapAction="http://tempuri.org/adaugare_jucatori" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stergere_jucatori">
      <soap:operation soapAction="http://tempuri.org/stergere_jucatori" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceTema2Soap12" type="tns:WebServiceTema2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificare">
      <soap12:operation soapAction="http://tempuri.org/modificare" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="adaugare">
      <soap12:operation soapAction="http://tempuri.org/adaugare" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stergere">
      <soap12:operation soapAction="http://tempuri.org/stergere" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificare_jucatori">
      <soap12:operation soapAction="http://tempuri.org/modificare_jucatori" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="adaugare_jucatori">
      <soap12:operation soapAction="http://tempuri.org/adaugare_jucatori" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stergere_jucatori">
      <soap12:operation soapAction="http://tempuri.org/stergere_jucatori" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceTema2">
    <wsdl:port name="WebServiceTema2Soap" binding="tns:WebServiceTema2Soap">
      <soap:address location="http://localhost:60099/WebServiceTema2.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceTema2Soap12" binding="tns:WebServiceTema2Soap12">
      <soap12:address location="http://localhost:60099/WebServiceTema2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>